<div class="container">
  <h1 mat-dialog-title>Reset Password</h1>

  <form [formGroup]="resetform">
    <div class="flex flex-col mt-4 mb-1">
      <div class="col-3">
        <mat-form-field>
          <input
            matInput
            id="password"
            placeholder="Enter new password"
            [type]="hide ? 'password' : 'text'"
            name="newPassword"
            formControlName="newPassword"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility" : "visibility_off"
          }}</mat-icon>
          <mat-error *ngIf="password.hasError('required')">
            Password is required.
          </mat-error>
          <mat-error *ngIf="password.hasError('pattern')">
            Password must contain at least one capital letter, one number, and
            one special character.
          </mat-error>
          <mat-error *ngIf="password.hasError('minlength')"
            >Password must be at least 8 characters.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <input
            matInput
            placeholder="Confirm password"
            [type]="hide ? 'password' : 'text'"
            name="confirmPassword"
            formControlName="confirmPassword"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility" : "visibility_off"
          }}</mat-icon>
          <mat-error *ngIf="resetform.hasError('passwordMismatch')"
            >Passwords do not match.</mat-error
          >
        </mat-form-field>
      </div>
    </div>
  </form>

  <button
    (click)="resetPassword()"
    mat-raised-button
    mat-dialog-close
    color="primary"
    class="a1"
  >
    SUBMIT
  </button>
  <button mat-dialog-close mat-raised-button class="a2" color="warn">
    cancel
  </button>
</div>
