<div class="container">
  <h1 mat-dialog-title>Change Password</h1>
  <form [formGroup]="changeform">
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Enter Email"
        formControlName="email"
      />
      <mat-error *ngIf="changeform.hasError('required', 'email')"
        >Field is required</mat-error
      >
      <mat-error
        *ngIf="changeform.hasError('email', 'email')"
        class="text-red-500"
        >email is invalid</mat-error
      >
    </mat-form-field>

    <div>
      <mat-form-field>
        <input
          name="password"
          formControlName="password"
          placeholder="OLd password"
          matInput
          [type]="hidePassword ? 'text' : 'password'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed1]="!hidePassword"
        >
          <mat-icon>{{
            hidePassword ? " visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input
        name="password"
        formControlName="password"
        placeholder="New password"
        matInput
        [type]="hidePassword1 ? 'text' : 'password'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword1 = !hidePassword1"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="!hidePassword1"
      >
        <mat-icon>{{
          hidePassword1 ? " visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input
        name="password"
        formControlName="password"
        placeholder="Confirm password"
        matInput
        [type]="hidePassword2 ? 'text' : 'password'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword2 = !hidePassword2"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed3]="!hidePassword2"
      >
        <mat-icon>{{
          hidePassword2 ? " visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="buttons">
      <button
        (click)="changePassword()"
        mat-dialog-close
        mat-raised-button
        color="primary"
        class="a1"
      >
        Change Password
      </button>
      <button mat-dialog-close mat-raised-button class="a2" color="warn">
        Close
      </button>
    </div>
  </form>
</div>
