h1{
    background-color: rgb(124, 203, 125);
    color: rgb(92, 92, 173);
   padding-left: 43%;
   font: bolder;
}
h2{
    color: rgb(212, 123, 103);
    background-color: aliceblue;
    padding-left: 20px;
    margin-right: 100px;
    position: relative;
    left: 50px
}
p{

    margin-left:60px ;
    font-size: medium;
    font-weight: bold;
}
span{

    color: rgb(0, 123, 255);
}