<div class="container text-center">
  <h1 mat-dialog-title>Forgot Password</h1>
  <form [formGroup]="forgotform">
    <div class="flex">
      <p>Please Enter the Email you use to Sign-in</p>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Enter Email"
          formControlName="email"
        />
        <mat-error *ngIf="forgotform.hasError('required', 'email')"
          >Field is required</mat-error
        >
        <mat-error
          *ngIf="forgotform.hasError('email', 'email')"
          class="text-red-500"
          >email is invalid</mat-error
        >
      </mat-form-field>
    </div>

    <div class="buttons">
      <button
        (click)="generateOtp()"
        mat-dialog-close
        mat-raised-button
        color="primary"
        class="a1"
      >
        Send Otp
      </button>
      <button mat-dialog-close mat-raised-button class="a2" color="warn">
        Close
      </button>
    </div>
  </form>
</div>
