.container {
    min-height: 250px;
    min-width: 350px;
}

mat-form-field {
    display: block;
}

mat-form-field {
    width: 100%;
}

.flex p {

    margin-left: 0px;
}

button {
    margin: 20px;
}