<!--<p>logout works!</p>

    <h1 style="color: blue;">Logout</h1>-->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div style="width: 550px; height: 300px; padding: 40px; border-radius: 5px">
      <div style="padding-left: 20px; align-items: center">
        <img src="assets/images/logout caption.PNG" />
      </div>
      <h2>Are you sure you want to logout?</h2>
      <div style="padding-top: 10px">
        <span class="align" routerLink="">
          <button
            mat-button
            color="primary-aquamarine"
            class="btn-primary m-1 px-5 py-1"
            (click)="logout()"
          >
            Yes
          </button>
          <button mat-button color="accent" class="btn-primary m-1 px-5 py-1">
            No
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
